*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
将删除 src/main/java/com/juhezi/citymemory/data/
将删除 src/main/java/com/juhezi/citymemory/other/
将删除 src/main/java/com/juhezi/citymemory/util/
